*.eml
/ThunderbirdExports
/ThunderbirdExports-FULL
/ThunderbirdExports-TESTING
/ThunderbirdExports-TESTING-single
/EmlAnalysis.json
/EmlAnalysis.csv
/ERROR_LOG.txt
/Field_List_and_Frequency.json
/EmlAnalysis_SUMMARY.json